In [2]:
import pandas as pd

In [23]:
df = pd.read_csv("C:/Users/Vishal Kumbhar/Downloads/StdPerf_Dataset.csv")

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Math_Score       89 non-null     int64
 1   Reading_Score    89 non-null     int64
 2   Writing_Score    89 non-null     int64
 3   Placement_Score  89 non-null     int64
 4   Club_Join        89 non-null     int64
 5   Placement_Offer  89 non-null     int64
dtypes: int64(6)
memory usage: 4.3 KB

In [25]:
df.isnull()

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join,Placement_Offer
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
84,False,False,False,False,False,False
85,False,False,False,False,False,False
86,False,False,False,False,False,False
87,False,False,False,False,False,False
88,False,False,False,False,False,False

In [26]:
df.Math_Score

0     70
1     61
2     65
3     61
4     75
      ..
84    76
85    68
86    61
87    80
88    69
Name: Math_Score, Length: 89, dtype: int64

In [27]:
df.Math_Score.min

<bound method Series.min of 0     70
1     61
2     65
3     61
4     75
      ..
84    76
85    68
86    61
87    80
88    69
Name: Math_Score, Length: 89, dtype: int64>

In [28]:
df.Math_Score.min

<bound method Series.min of 0     70
1     61
2     65
3     61
4     75
      ..
84    76
85    68
86    61
87    80
88    69
Name: Math_Score, Length: 89, dtype: int64>

In [13]:
x=df.Math_Score.min

In [29]:
x

<bound method Series.min of 0     63
1     62
2     78
3     63
4     63
      ..
84    67
85    80
86    63
87    61
88    66
Name: Math_Score, Length: 89, dtype: int64>

In [31]:
y=df.Math_Score.fillna(x)

In [32]:
y

0     70
1     61
2     65
3     61
4     75
      ..
84    76
85    68
86    61
87    80
88    69
Name: Math_Score, Length: 89, dtype: int64

In [33]:
df.isnull().sum()

Math_Score         0
Reading_Score      0
Writing_Score      0
Placement_Score    0
Club_Join          0
Placement_Offer    0
dtype: int64

In [34]:
df.isnull().sum()

Math_Score         0
Reading_Score      0
Writing_Score      0
Placement_Score    0
Club_Join          0
Placement_Offer    0
dtype: int64

In [36]:
df.Math_Score.isnull().sum()

np.int64(0)

In [38]:
df.Writing_Score.min()

60

In [39]:
x=df.Writing_Score.min()

In [40]:
x

60

In [42]:
y=df.Writing_Score.fillna(x)

In [43]:
y

0     65
1     79
2     60
3     80
4     67
      ..
84    64
85    76
86    73
87    76
88    78
Name: Writing_Score, Length: 89, dtype: int64

In [45]:
df.Placement_Score.isnull()

0     False
1     False
2     False
3     False
4     False
      ...
84    False
85    False
86    False
87    False
88    False
Name: Placement_Score, Length: 89, dtype: bool

In [47]:
df.Placement_Score.isnull().sum()

np.int64(0)

In [48]:
x=df.Placement_Score.min()

In [49]:
x

75

In [51]:
y=df.Placement_Score.fillna(x)